body{
    background:cornsilk;
}
.add{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.20rem;
    text-align:center;

}
* {
    box-sizing: border-box;
  }
.heading{
    text-align: center;
    float: none; 
    margin: none;
}

.box{
    margin: 0;
    border: none;
    width:97%;
    height:3%; 
    float: left; 
    font-size: 18px;
}
 li{
     text-align: left;
     vertical-align: baseline;
     height: 32px;
     background: #eee;
     font-size: 18px;
     transition: 0.2s;
 }

 .close{
    right:0; 
    margin-top: 0;
    position: absolute;;
    margin-right: 10px;
    background: gray;
    border: 5px solid gray;
    vertical-align: baseline;
 }
